    <h1>Guestbook</h1>
        <form ng-submit="ctrl.submit()">
            <p>Write your comment below:</p>
            <p><textarea name="content" ng-model="ctrl.content" rows="9" cols="60"></textarea></p>
            <p ng-show="ctrl.userService.get().isLoggedIn">Posting as: <b>{{ctrl.userService.get().username}}.</b></p>
            <input class="button-success pure-button" type="submit" value="Submit">
        </form>

        <p ng-hide="ctrl.userService.get().isLoggedIn">You must be logged in to post a comment!</p>
        <p ng-show="ctrl.response">{{ ctrl.responseText }}</p><br>

<h1>Comments</h1>

<div id="commentsTable" ng-repeat="comment in ctrl.comments">
    <p><b>No. </b> {{$index + 1}}</p>
    <p><b>Username: </b> {{comment.value.username}}</p>
    
    <div id="editingDisabled" ng-if="ctrl.editingID !== comment.value._id">
        <blockquote>
            {{comment.value.comment}}
        </blockquote>
    </div>
    
    <div id="editingEnabled" ng-if="ctrl.editingID === comment.value._id">
        <input type="text" value="{{comment.value.comment}}" ng-model="ctrl.editedComment">
    </div>
    
    <p><b>Date: </b> {{comment.value.date}}
        <b>Time: </b> {{comment.value.time}}</p>
    <p ng-if="ctrl.userService.get().username === comment.value.username">
        <button class="button-secondary pure-button" ng-if="ctrl.editingID !== comment.value._id" ng-click="ctrl.enableEditing(comment.value._id, comment.value.comment)">Edit</button>
        <button class="button-secondary pure-button" ng-if="ctrl.editingID !== comment.value._id" ng-click="ctrl.delete(comment.value._id, comment.value._rev)">Delete</button>
        <button class="button-success pure-button" ng-if="ctrl.editingID === comment.value._id" ng-click="ctrl.makeChanges(comment.value._id, comment.value._rev)">Make Changes</button>
    </p><br>
</div>