<h2>Login</h2>
        <form>
            Username: <input ng-model="ctrl.username" type="text" id="username"/><br><br>
            Password: <input ng-model="ctrl.password" type="password" id="password"/><br><br>
            <input ng-click="ctrl.login()" type="button" id="login" value="Login"/>
            <input onClick="window.location.href = '/#register';" type="button" id="register" value="Register"/>
        </form>
        
        <!--Success/Failure Response-->
        <p ng-show="ctrl.response">{{ ctrl.responseText }}</p>