<div ng-hide="ctrl.editingMode">
    <p>Username: <span ng-bind="ctrl.userInfo.username"></span></p>
    <p>First Name: <span ng-bind="ctrl.userInfo.firstname"></span></p>
    <p>Surname: <span ng-bind="ctrl.userInfo.lastname"></span></p>
    <p>Age: <span ng-bind="ctrl.userInfo.age"></span></p>
    <p>Email Address: <span ng-bind="ctrl.userInfo.email"></span></p>
    <p>Member Title: <span ng-bind="ctrl.userInfo.title"></span></p>
    <p>Post Count: <span ng-bind="ctrl.postCount"></span></p>
    <p>Registration Date: <span ng-bind="ctrl.userInfo.registrationdate"></span></p>
    
    View Posts: <input type="checkbox" ng-click="ctrl.viewPosts()" ng-model="postViewMode">
    <div ng-show="postViewMode" ng-repeat="post in ctrl.posts">
        <p>Post: <b>{{$index + 1}}</b></p>
        <p><b>Username:</b> {{ post.value.username }}</p>
        <p><b>Comment:</b> </p><blockquote>{{ post.value.comment }}</blockquote>
        <p><b>Date:</b> {{ post.value.date }} <b>Time:</b> {{ post.value.time }}</p>
    </div>
</div>

<form name="ctrl.profile" ng-show="ctrl.editingMode" ng-submit="ctrl.edit()" novalidate="">
    <p>Username: <span ng-bind="ctrl.userInfo.username"></span></p>
    <p>Password: <input type="password" name="password" ng-model="ctrl.userInfo.newPassword" ng-minlength="6" ng-maxlength="20" ng-required="true"><span ng-show="ctrl.registration.password.$error.required">Required</span></p>
    <p>First Name: <input type="text" name="firstname" ng-model="ctrl.userInfo.firstname" ng-pattern="/[A-z]+$/"></p>
    <p>Surname: <input type="text" name="surname" ng-model="ctrl.userInfo.lastname" ng-pattern="/[A-z]+$/"></p>
    <p>Age: <input type="number" name="age" ng-model="ctrl.userInfo.age" ng-min="13" ng-max="99"></p>
    <p>Email Address: <input type="email" name="email" ng-model="ctrl.userInfo.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-required="true"><span ng-show="ctrl.registration.email.$error.required">Required</span></p>
    <p>Member Title: <span ng-bind="ctrl.userInfo.title"></span></p>
    <p>Post Count: <span ng-bind="ctrl.postCount"></span></p>
    <p>Registration Date: <span ng-bind="ctrl.userInfo.registrationdate"></span></p>
    
    <input class="button-success pure-button" type="submit" id="submit" value="Submit Changes"/>
    
    <!--Input Validation Outputs-->
    <p ng-show="ctrl.profile.password.$error.minlength">Your password should contain at least 6 characters.</p>
    <p ng-show="ctrl.profile.password.$error.maxlength">Your password should contain no more than 20 characters.</p>
    <p ng-show="ctrl.profile.firstname.$error.pattern">You must enter text only for first name.</p>
    <p ng-show="ctrl.profile.surname.$error.pattern">You must enter text only for surname.</p>
    <p ng-show="ctrl.profile.age.$error.number">You must enter a number value for age.</p>
    <p ng-show="ctrl.profile.age.$error.min">You must be older than 12.</p>
    <p ng-show="ctrl.profile.age.$error.max">You must be younger than 99.</p>
    <p ng-show="ctrl.profile.email.$error.pattern">You must enter a valid email address.</p>
            
</form>

<p ng-if="ctrl.userInfo.username === ctrl.userService.get().username">Enable Editing: <input type="checkbox" ng-model="ctrl.editingMode"></p>
<p ng-show="ctrl.error">{{ ctrl.errorText }}</p>