<h2>User Registration Form</h2>
        <form name="ctrl.registration" ng-submit="ctrl.submit()" novalidate="">
            
            Username: <input name="username" ng-model="ctrl.username" ng-minlength="6" ng-maxlength="20" ng-required="true" type="text" id="username"/> 
            <span ng-show="ctrl.registration.username.$error.required">Required</span><br><br>
            
            Password: <input name="password" ng-model="ctrl.password" ng-minlength="6" ng-maxlength="20" ng-required="true" type="password" id="password"/> 
            <span ng-show="ctrl.registration.password.$error.required">Required</span><br><br>
            
            First Name: <input name="firstname" ng-model="ctrl.firstname" ng-pattern="/[A-z]+$/" type="text" id="firstname"/><br><br>
            
            Surname: <input name="surname" ng-model="ctrl.lastname" ng-pattern="/[A-z]+$/" type="text" id="lastname"/><br><br>
            
            Age: <input name="age" ng-model="ctrl.age" type="number" id="age" ng-min="13" ng-max="99"/><br><br>
            
            Email Address: <input name="email" ng-model="ctrl.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-required="true" type="email" id="email"/>
            <span ng-show="ctrl.registration.email.$error.required">Required</span><br><br>
            
            <input type="submit" id="submit" value="Submit"/>
        </form>
        
        <!--Input Validation Outputs-->
        <p ng-show="ctrl.registration.username.$error.minlength">Your username should contain at least 6 characters.</p>
        <p ng-show="ctrl.registration.username.$error.maxlength">Your username should contain no more than 20 characters.</p>
        <p ng-show="ctrl.registration.password.$error.minlength">Your password should contain at least 6 characters.</p>
        <p ng-show="ctrl.registration.password.$error.maxlength">Your password should contain no more than 20 characters.</p>
        <p ng-show="ctrl.registration.firstname.$error.pattern">You must enter text only for first name.</p>
        <p ng-show="ctrl.registration.surname.$error.pattern">You must enter text only for surname.</p>
        <p ng-show="ctrl.registration.age.$error.number">You must enter a number value for age.</p>
        <p ng-show="ctrl.registration.age.$error.min">You must be older than 12.</p>
        <p ng-show="ctrl.registration.age.$error.max">You must be younger than 99.</p>
        <p ng-show="ctrl.registration.email.$error.pattern">You must enter a valid email address.</p>
        
        <!--Success/Failure Response-->
        <p ng-show="ctrl.response">{{ctrl.responseText}}</p>       