<form>
    Search: <input ng-model="query">
    Order By: 
    <select ng-model="orderBy">
  		<option value="value.username">Username</option>
  		<option value="value.title">Title</option>
        <option value="value.registrationdate">Registration Date</option>
	</select>
</form>

<table>
    <tr>
        <th>Username</th>
        <th>Title</th>
        <th>Registration Date</th>
    </tr>
    <tr ng-repeat="user in ctrl.users | filter:query | orderBy:orderBy">
        <td><a href="#/user/{{user.id}}">{{user.value.username}}</a></td>
        <td>{{user.value.title}}</td>
        <td>{{user.value.registrationdate}}</td>
    </tr>
</table>

<p ng-show="ctrl.error">{{ctrl.errorText}}</p>