<html ng-app="moduleGuestbook">
<head>
    <link rel="stylesheet" href="css/buttons-min.css"> <!-- Pure CSS Buttons -->
    <link rel="stylesheet" href="css/main.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>
    <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    <script	src="js/controller.js"></script>
    <title>My AngularJS Guestbook</title>
</head>
<body ng-controller="controllerMain as ctrl">
    
     <div id="header">
          <h1 ng-bind="ctrl.pageService.get().currentPage"></h1>
            <ul>
                <li><a href="#/index">Guestbook</a></li>
                <li ng-hide="ctrl.userService.get().isLoggedIn"><a href="#/login">Login</a></li>
                <li ng-hide="ctrl.userService.get().isLoggedIn"><a href="#/register">Register</a></li>
                <li><a href="#/users">User List</a></li>
                <li ng-show="ctrl.userService.get().isLoggedIn">Welcome, <a href="#/user/{{ctrl.userService.get().ID}}">{{ ctrl.userService.get().username }}</a>!</li>
                <li ng-show="ctrl.userService.get().isLoggedIn"><a href="#/logout">Logout</a></li>
            </ul>
      </div><br>
    
    <div ng-view></div>

</body>
</html>